@model E_Ticaret.Models.Entities.UrunOneriSonucuModel

<div class="container mt-4">
    <h2>@Model.KullaniciAdi için Ürün Önerisi</h2>
    <hr />
    <h4>@Model.PromptMetni</h4>
    <pre style="white-space: pre-wrap;">@Model.ChatGptCevabi</pre>
</div>
