@model E_Ticaret.Models.Entities.Yorum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Yorum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SiparisDetayId" class="control-label"></label>
                <select asp-for="SiparisDetayId" class="form-control" asp-items="ViewBag.SiparisDetayId"></select>
                <span asp-validation-for="SiparisDetayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciId" class="control-label"></label>
                <select asp-for="KullaniciId" class="form-control" asp-items="ViewBag.KullaniciId"></select>
                <span asp-validation-for="KullaniciId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puan" class="control-label"></label>
                <input asp-for="Puan" class="form-control" />
                <span asp-validation-for="Puan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YorumMetni" class="control-label"></label>
                <input asp-for="YorumMetni" class="form-control" />
                <span asp-validation-for="YorumMetni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarih" class="control-label"></label>
                <input asp-for="Tarih" class="form-control" />
                <span asp-validation-for="Tarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrunId" class="control-label"></label>
                <select asp-for="UrunId" class="form-control" asp-items="ViewBag.UrunId"></select>
                <span asp-validation-for="UrunId" class="text-danger"></span>
            </div>
            <hr />
           

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="EngelleKullanici" method="post">
            <input type="hidden" name="kullaniciId" value="@Model.KullaniciId" />
            <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Bu kullanıcıyı gerçekten engellemek istiyor musunuz?');">
                Kullanıcıyı Engelle
            </button>
        </form>
        <form asp-action="EngeliKaldir" asp-controller="Yorumlar" method="post" class="mt-2">
            <input type="hidden" name="kullaniciId" value="@Model.KullaniciId" />
            <button class="btn btn-success" onclick="return confirm('Bu kullanıcının engelini kaldırmak istiyor musunuz?');">Hesabı Aç</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

